@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "KCCChassam", sans-serif;
  font-size: 20px;
  color: #e46996;
  box-sizing: border-box;
}

p {
  font-size: 26px;
  margin-top: 15px;
}
body {
  display: flex;
  justify-content: center;
  background: #bbd0ff;
  height: 100vh;
  align-items: center;
}

.container {
  width: 450px;
}

h2 {
  display: flex;
  justify-content: center;
  height: 20vh;
  font-size: 50px;
}
label {
  display: inline-flex;
  width: 40px;
  height: 26px;
  align-items: center;
}

select {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  border: solid 1px #3b6fdf;
  background-color: #e46996;
  color: #bbd0ff;
}

select:hover {
  cursor: pointer;
  background-color: #f44d8a;
}

.unit-select {
  display: flex;
  width: 25%;
  height: 26px;
  float: inline-end;
}
button {
  display: flex;
  border-radius: 5px;
  background: #bbd0ff;
  color: #e46996;
  border: 1px solid rgb(190, 73, 73);
  width: 40px;
}

button:hover {
  background: #5a87e8;
}
.reset-button {
  margin-top: 15px;
  width: 54px;
  cursor: pointer;
}
hr {
  border: 1px solid #e46996;
  margin-bottom: 10px;
}

#inputValue {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #e46996;
}

#inputValue:focus {
  outline: none;
}
#inputValue:disabled {
  border: none;
}
